extends ./layout.pug

block content
  header.masthead.text-center.text-white.d-flex
    .container.my-auto
      .row
        .col-lg-10.mx-auto
          h1.text-uppercase
            strong Your Favorite Source of Free Bootstrap Themes
          hr
        .col-lg-8.mx-auto
          p.text-faded.mb-5
            | Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!
          a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Find Out More
  section#about.bg-primary
    .container
      .row
        .col-lg-8.mx-auto.text-center
          h2.section-heading.text-white We've got what you need!
          hr.light.my-4
          p.text-faded.mb-4
            | Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!
          a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') Get Started!
  section#services
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading At Your Service
          hr.my-4
    .container
      .row
        .col-lg-3.col-md-6.text-center
          .service-box.mt-5.mx-auto
            i.fa.fa-4x.fa-diamond.text-primary.mb-3.sr-icons
            h3.mb-3 Sturdy Templates
            p.text-muted.mb-0 Our templates are updated regularly so they don't break.
        .col-lg-3.col-md-6.text-center
          .service-box.mt-5.mx-auto
            i.fa.fa-4x.fa-paper-plane.text-primary.mb-3.sr-icons
            h3.mb-3 Ready to Ship
            p.text-muted.mb-0 You can use this theme as is, or you can make changes!
        .col-lg-3.col-md-6.text-center
          .service-box.mt-5.mx-auto
            i.fa.fa-4x.fa-newspaper-o.text-primary.mb-3.sr-icons
            h3.mb-3 Up to Date
            p.text-muted.mb-0 We update dependencies to keep things fresh.
        .col-lg-3.col-md-6.text-center
          .service-box.mt-5.mx-auto
            i.fa.fa-4x.fa-heart.text-primary.mb-3.sr-icons
            h3.mb-3 Made with Love
            p.text-muted.mb-0 You have to make your websites with love these days!
  section#portfolio.p-0
    .container-fluid.p-0
      .row.no-gutters.popup-gallery
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/1.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/1.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/2.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/2.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/3.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/3.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/4.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/4.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/5.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/5.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/6.jpg')
            img.img-fluid(src='img/portfolio/thumbnails/6.jpg', alt='')
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  | Category
                .project-name
                  | Project Name
  section.bg-dark.text-white
    .container.text-center
      h2.mb-4 Free Download at Start Bootstrap!
      a.btn.btn-light.btn-xl.sr-button(href='http://startbootstrap.com/template-overviews/creative/') Download Now!
  section#contact
    .container
      .row
        .col-lg-8.mx-auto.text-center
          h2.section-heading Let's Get In Touch!
          hr.my-4
          p.mb-5
            | Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
      .row
        .col-lg-4.ml-auto.text-center
          i.fa.fa-phone.fa-3x.mb-3.sr-contact
          p 123-456-6789
        .col-lg-4.mr-auto.text-center
          i.fa.fa-envelope-o.fa-3x.mb-3.sr-contact
          p
            a(href='mailto:your-email@your-domain.com') feedback@startbootstrap.com
