nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    a.navbar-brand.js-scroll-trigger(href='#page-top') EXPRESS APP
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#about') ME
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#projects') PROJECTS
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#skills') SKILLS
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#contact') Contact
